
.todo_item {
  display: grid;
  grid-template-columns: 5fr 1fr;
  align-items: start;
  border: 1px solid #c2b39a;
  font-size: 16px;
  background-color: #88ab33;
  border-radius: 10px;
  color: #fff;
  padding: 12px;
  margin-bottom: .5rem;
  margin-left: 1rem;
}

.todo_item_button {
  display: flex;
  align-items: center;
  background: transparent;
  border: none;
  color: #fff;
  gap: 12px;
  width: 100%;
}

.todo_item_circle {
  width: 4vh;
  height: 4vh;
}

.todo_items_right {
  display: grid;
  grid-template-columns: 2fr 1fr;
  padding-bottom: .5rem;
  margin-bottom: .5rem;
  align-items: start;
}

.todo_items_right button {
  background-color: transparent;
  color: #fff;
  border: none;
}

.icon {
  width: 3vh;
  height: 3vh;
  position: absolute;
  margin-left: -1.5rem;
  cursor: pointer;
}
.todo_item_content p {
  display: block;
  max-width: 80%;
  margin: 0; /* Elimina el margen para usar todo el ancho */
  white-space: nowrap; /* Evita que el texto se envuelva */
  overflow: hidden; /* Oculta el texto que se desborda */
  text-overflow: ellipsis;
}
